# Unity-related

[Bb]uild/
[Ll]ibrary/
[Oo]bj/
[Tt]emp/
*.booproj
*.csproj
*.opensdf
*.pdb
*.pdb.meta
*.pidb
*.sdf
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs

# OS generated

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db